.body{
	padding:50px 200px;
}

.main-image{
	width: 400px;
	border-radius: 50%;
}

.profile-section{
	height: auto;
}

.profile-section {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile-section div {
	
	
}

.info {
	padding: 20px 50px;;
}


.tech{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
}

.tech div{
	text-align: center;
	border: solid;
}

.projects{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid;
}

.title{
	text-align: center;
}
.data{
	padding-left: 10px;
	}

@media (max-width: 700px) {
	.profile-section {
	display: block;
	padding-top: 50px;
	}
	
	.body{
	padding:33px;
}
.main-image{
	
	width: 300px;
}
.info {
	padding: 0px 0px;;
}
td{
	padding-left: 10px;
}

.data{
	padding-left: 70px;
	}
	}