<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV</title>
  <link rel="stylesheet" th:href="@{/css/front.css}">
<style>
 
    </style>
</head>
<ul>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/projects}">Projects</a> </li>
<li><a th:href="@{/experience}">Experience</a></li>
</ul>

<h1>Marjan Karafiloski</h1>
<h2>Java Spring-Boot Developer</h2>
<body>
   

</body>

</html>