<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     
   
  <style>
 
    </style>
</head>

<body>
   
  <div th:replace="fragments/navbar :: navbar"></div>
    <div class="body">
     <section class="profile-section">
      <div>
       div for image
      
      </div>
      
      <div>
       div for links
      
      </div>
     
     </section>
     
     <section class="tech">
     <div>technologies</div>
     <div>technologies</div>
     <div>technologies</div>
     
     </section>
     
     
     <section class="projects">
     <div>technologies</div>
     
     
     </section>


    <!-- Showcase -->
    <section class="section-a">
    <h1>Заводлива Квечерина</h1>
      <div class="container">
      
        <div>
          <h1>На Радио 2</h1>
          <h3>
            Премиера среда и петок во 19:00 со Рашела
          </h3>
          
        </div>
        <img class="main-image"  th:src="@{/img/galeb.jpg}" alt="" />
      </div>
    </section>

    <!-- Large Text -->
    <section th:unless="${show == null}" id="about" class="section-b">
      <div class="overlay">
      <h3 >Најнова емисија</h3>
        <div class="section-b-inner py-5">
          
          <h2 th:text="${show.title}" >Најнова емисија</h2>
          
          <audio  id="audio" controls controlsList="nodownload" >
               <source th:src="${show.audioUrl}" >
              </audio>
        </div>
      </div>
    </section>

    <!-- Gallery -->
    <section class="section-c">
      <div class="gallery">
        <img th:src="@{img/duo.jpg}" alt=""/>
        
        <div class="about">
          <h3>Автор и водител</h3>
          <h1>Рашела Гинова-Карафилоски</h1>
          <hr>
           <h3>Тонски Дизајн</h3>
          <h1>Виолета Велјановска</h1>
          
        </div>
      </div>
    </section>
    
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>